name: Compile AutoHotkey v2

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download AutoHotkey v1 (Compiler)
        shell: pwsh
        run: |
          Invoke-WebRequest `
            https://github.com/AutoHotkey/AutoHotkey/releases/download/v1.1.37.02/AutoHotkey_1.1.37.02.zip `
            -OutFile ahk1.zip
          Expand-Archive ahk1.zip C:\AutoHotkey

      - name: Download AutoHotkey v2 (Interpreter)
        shell: pwsh
        run: |
          Invoke-WebRequest `
            https://github.com/AutoHotkey/AutoHotkey/releases/download/v2.0.11/AutoHotkey_2.0.11.zip `
            -OutFile ahk2.zip
          Expand-Archive ahk2.zip C:\AutoHotkey\v2

      - name: Compile script
        shell: pwsh
        run: |
          Set-Location $env:GITHUB_WORKSPACE

          & "C:\AutoHotkey\Compiler\Ahk2Exe.exe" `
            /in "AutoReSizer.ahk" `
            /out "AutoReSizer.exe" `
            /icon "icon\icon.ico" `
            /bin "C:\AutoHotkey\v2\AutoHotkey64.exe"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutoReSizer
          path: |
            AutoReSizer.exe
            Deutsch.lng
            English.lng
            license.txt
            readme.txt
