name: Compile AHK v2 Script
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  compile:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Compile AHK v2 Script
        uses: samhocevar/ahk2exe-action@v1
        with:
          source: AutoReSizer.ahk
          target: AutoReSizer.exe
          version: v2.0.11
          arch: x64
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AutoReSizer-EXE
          path: AutoReSizer.exe
